<!DOCTYPE html>
<html>
  <head>
    <title>Best Bike Helmets</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <div class = "heading">

      <span id="title">
        <img class="logo" src="logo.png">
        <h1>Best Helmets Ever</h1>
      </span>

      <span id="navPanel">
        <a class="navigation" href="https://best-helmets.com/about">About</a>
        <a class="navigation" href="https://best-helmets.com/gallery">Gallery</a>
      </span>

    </div>



    <div class = "main">

      <!-- maybe make this into a slideshow later -->
      <div class = "slideshow">
        <img class="image" src="helmet.jpg">
      </div>


      <div class = "detail-pane">

        <div class = "detail">
          <h1>BACKPACK FRIENDLY</h1>
          <p>"FEND was designed for the City Rider.
          Simply fold the helmet and slip it into your bag
          until you need it again."</p>
        </div>

        <div class = "detail">
          <h1>FULLY BREATHABLE</h1>
          <p>"No more overheating! FEND is designed with streamlined
            vents for cooling to allow for maximum breathability."</p>
        </div>

        <div class = "detail">
          <h1>PERFECTLY DESIGNED</h1>
          <p>"Minimalistic and streamlined design while maintaining
            maximum protection."</p>
        </div>

      </div>

      </div>

    </div>

    <div class = "price">
    </div>




  </body>
</html>
